<!{% extends "base.html" %}
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!--will be removed-->
{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="btn-group">
                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> Left</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-center"></em> Center</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> Right</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-justify"></em> Justify</button>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                   
                </thead>
                <tbody>
                  
                </tbody>
            </table>
            <table class="table table-hover">
                <thead>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
