<!{% extends "base.html" %}
{% block javascript%}
<script src="../static/js/bootbox.min.js"></script>
<script src="../static/js/admin.js"></script>
{% endblock%}
{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="btn-group">
                <button class="btn btn-default" id="createInstance" type="button">Create Instance</button>
                <button class="btn btn-danger" id="deleteInstance" type="button">Delete Current Instance</button>
            </div>
            <span>Simulation Instance #: <span id="instance-id"></span>   </span>
            <span>  Project #: <span id="project-number"></span></span>
        </div>
    </div>
    <br />
    <div class="row clearfix">
        <div class="col-md-12">
            <h4>Student Submits</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th>IP Address</th>-->
                        <th>Firm ID</th>
                        <th>Profit %</th>
                        <th>G&A %</th>
                        <th>Offer</th>
                    </tr>
                </thead>
                <tbody id="table-current-info"></tbody>
            </table>
            <hr />
            <h4>Student Overall Information</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th>IP Address</th>-->
                        <th>Firm ID</th>
                        <th>Active Projects</th>
                        <th>Bond Capacity</th>
                        <th>Current Money</th>
                    </tr>
                </thead>
                <tbody id="table-overall-info"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
