<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .pull-down {
            position: fixed;
            bottom: 0;
            width: 250px;
        }
    </style>

    <!-- Add custom CSS here -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- JavaScript -->
    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}


</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../">Bucknell Bidding Simulation</a>
                </li>
                <li>
                    <a href="tutorial">Tutorial</a>
                </li>
                <li>
                    <a href="#practice" data-toggle="collapse">Practice Simulation</a>
                    <div id="practice" class="panel-collapse collapse">
                        <a href="practice-simulation-individual">Individual Practice</a>
                        <a href="practice-simulation-team">Team Practice</a>
                    </div>

                </li>
                <li>
                    <a href="realtime-simulation">Realtime Simulation</a>
                </li>
                
                <li>
                    <a href="feedback">Feedback</a>
                </li>
                <li>
                    <a href="history">History</a>
                </li>
                <li>
                    <a href="resources">Resources</a>
                </li>
                <li class="pull-down">
                    <a href="admin">Admin Access</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header" style="text-align:center">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    {{ContentName}}
                </h1>
                <br />
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>


    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    </script>
</body>

</html>
