<!{% extends "base.html" %}
{% block javascript%}
<script src="../static/js/bootbox.min.js"></script>
<script>
$(function(){

    $("#submit-feedback").click(function(){
        if($("#name").val().trim() === ""){
            bootbox.alert("Please enter your name.");
        }else{
            if($("#text").val().trim() === ""){
                bootbox.alert("Feedback cannot be empty.");
            } else{
                var post_data = {"name": $("#name").val(), "email" : $("#email").val(), "text": $("#text").val()}
                $.ajax
                    ({
                        type: "POST",
                        //the url where you want to sent the userName and password to
                        url: 'feedback',
                        contentType : 'application/json',
                        data: JSON.stringify(post_data),
                        success: function () {
                            bootbox.alert("Your feedback has been sent to the server");
                        }
                    })
            }
        }
    });
})
</script>
{% endblock%}
{% block content %}
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
</div>
<div class="form-group">
    <label for="email">Email (Optional)</label>
    <input type="email" class="form-control" id="email" placeholder="email@example.com">
</div>
<div class="form-group">
    <label for="text">Feedback</label>
    <textarea class="form-control" id="text" placeholder="Please type your feedback here" style="height:40%"></textarea>
    </div>
<button class="btn btn-default" id="submit-feedback">Submit</button>
{% endblock %}