<!{% extends "base.html" %}
{% block content %}
<div>
    <div>
        <h4>Development Team</h4>
        <hr />
        <p>
        The Bucknell Bidding Simulation (BBS) is a special pedagogical tool created by Mr. Chuck Boldt ’72 around 2012 and turned into an online simulation by Keyi Zhang CompSciEng’17, Billy Tyler CivEng’15, and Prof. Toole in 2014.  Keyi and Prof. Toole continue to improve the simulation and documentation each year.  Please give us feedback!
        </p>
    </div>
       
</div>
{% endblock %}