<!{% extends "practice.html" %}

{% block javascriptExtra%}
<script src="../static/js/offlineSimulation.js"></script>
<script>
    var timeRemaining = 300;
    var timerID = 0;

    function startTimer() {
        timeRemaining = 300;
        if (timerID != 0) { clearInterval(timerID); }
        timerID = setInterval(function () {
            if (timeRemaining <= 1) {
                console.log(hasSubmit);
                if (!hasSubmit) {
                    sendDefaultBid();
                }
                clearInterval(timerID);
                timerID = 0;
            }
            if (!shouldStop) {
                timeRemaining -= 1;
            }
            $('#timer').text(timeRemaining + " Seconds Left");
        }, 1000)
    }

    var dialogFinished = (function () {
        var original = dialogFinished;
        startTimer();
    })

    var dialogFinished = (function () {
        var original = dialogFinished;
        startTimer();
    })
</script>
{% endblock%}
