<!{% extends "base.html" %}

{% block css%}
{% endblock%}

{% block javascript%}
<script>
    $(function () {
        var url = document.domain + ":" + location.port;
        console.log(url);
        //messageContainer.innerHTML = "WebSocket is supported by your Browser!";
        
        connection = new WebSocket("ws://" + url + "/realtimeSocket");
        connection.onmessage = function(evt)
        {
            $('#text').text(evt.data);
        }
        $('#send').click(function () {
            connection.send($('#inputText').val());
        });
    });
    
</script>
{% endblock%}

{% block content %}
<div class="well">
    <div class="input-group">
        <input type="text" class="form-control" id="inputText">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="send">Send</button>
        </span>
    </div><!-- /input-group -->
    <label id="text">Respond</label>
</div>
{% endblock %}
