<!{% extends "base.html" %}
{% block javascript%}
<script src="../static/js/bootbox.min.js"></script>
<script src="../static/js/fake.min.js"></script>
<script>
    // all the firms we have right now
    firm1 = { name: "Test Firm 1", bondCapacity: 100000, OHRatio: 0.05, bondCostRatio: 0.08, projects: [] };
    firm2 = { name: "Test Firm 2", bondCapacity: 200000, OHRatio: 0.08, bondCostRatio: 0.04, projects: [] };
    firm3 = { name: "Test Firm 3", bondCapacity: 300000, OHRatio: 0.1, bondCostRatio: 0.03, projects: [] };
    firm4 = { name: "Test Firm 4", bondCapacity: 400000, OHRatio: 0.10, bondCostRatio: 0.02, projects: [] };

    firmChance = undefined
    

    // count
    count = 0;
    // should update the table
    shouldUpdate = true;
    // firm list
    firmList = [firm1, firm2, firm3, firm4];

    // this is for the firm result
    result = {};
    // current bond capacity for each firm
    bondCapacity = [];
    // current money for each firm
    money = [];
    // max bid
    maxBid = 10;

    // the firm that user plays, index from 0;
    userFirm = 0;

    // the current project
    currentProject = undefined;

    // the current bid
    currentBid = undefined;

    offer = []

    // function to update total cost
    function updateTotalCost() {
        var cost = parseFloat($('#directCost').val());
        var firm = firmList[userFirm];
        var bondCost = (firm["bondCostRatio"] * cost).toFixed(0);
        var ohCost = (firm["OHRatio"] * cost).toFixed(0);
        $('#totalCost').val((parseFloat(cost) + parseFloat(bondCost) + parseFloat(ohCost) + parseFloat($('#inputProfit').val()) * cost / 100).toFixed(0));
    }

    // function to update bond cost, oh cost, etc.
    function update() {
        if (count < maxBid) {

            currentProject = createProject();
            var cost = currentProject["totalCost"];
            var firm = firmList[userFirm];
            var bondCost = (firm["bondCostRatio"] * cost).toFixed(0);
            var ohCost = (firm["OHRatio"] * cost).toFixed(0);

            $('#invitation').val(count);
            $('#directCost').val(cost);
            $('#bondCost').val(bondCost);
            $('#ohCost').val(ohCost);
            updateTotalCost();


            // update contact info
            $('#fake_image').attr('src', currentProject["owner"]["ui"]);
            $('#owner-name').text("Name: " + currentProject["owner"]["name"]);
            $('#owner-email').text("Email: " + currentProject["owner"]["email"]);
            $('#owner-company').text("Company Name: " + currentProject["owner"]["company"]);
            $('#owner-Type').text("Owner Type: " + currentProject["owner"]["type"]);
            $('#info-cost').text("Bid direct cost: " + currentProject["cost"].toFixed(0));

        }

    }

    function updateUI() {
        var bidTable = $('#bid-table-body');
        bidTable.empty();
        $.each(result, function (key, value) {
            var string = "<tr>\
                          <td>" + key + "</td>\
                          <td>" + value[0] + "</td>\
                          <td>" + value[1] + "</td>\
                          <td>" + value[2] + "</td>\
                          <td>" + value[3] + "</td>\
                        </tr>";
            bidTable.append(string);
        });

        // update bond table
        $('#bond-table-body').empty();
        $('#bond-table-body').append("<tr><td>" + count + "</td>\
                          <td>" + bondCapacity[0].toFixed(0) + "</td>\
                          <td>" + bondCapacity[1].toFixed(0) + "</td>\
                          <td>" + bondCapacity[2].toFixed(0) + "</td>\
                          <td>" + bondCapacity[3].toFixed(0) + "</td>\
                          </tr>");

        // update money table
        $('#money-table-body').empty();
        $('#money-table-body').append("<tr><td>" + count + "</td>\
                          <td>" + money[0].toFixed(0) + "</td>\
                          <td>" + money[1].toFixed(0) + "</td>\
                          <td>" + money[2].toFixed(0) + "</td>\
                          <td>" + money[3].toFixed(0) + "</td>\
                          </tr>");


        $('#current-project-table-body').empty();
        $('#current-project-table-body').append("<tr><td>" + "now" + "</td>\
                          <td>" + firmList[0]["projects"].length + "</td>\
                          <td>" + firmList[1]["projects"].length + "</td>\
                          <td>" + firmList[2]["projects"].length + "</td>\
                          <td>" + firmList[3]["projects"].length + "</td>\
                          </tr>");


        // progress bar
        var value = (count + 1) / maxBid * 100;
        $('#bidding-progress').css('width', value + '%').attr('aria-valuenow', value);
        $('#progressbar-span').text(value.toFixed(0) + "% Complete")

        update();
    }


    function startBid() {

        offer = [0, 0, 0, 0];
        var directCost = parseFloat($('#directCost').val());
        for (var i = 0; i < 4; i++) {
            if (i == userFirm) {
                var currentBondCost = parseFloat($('#bondCost').val());
                if (currentBondCost > bondCapacity[userFirm]) { offer[userFirm] = Number.MAX_VALUE; }
                else { offer[userFirm] = parseFloat($('#totalCost').val()); }
            } else {
                var currentBondCost = directCost * firmList[i]["bondCostRatio"];
                if (currentBondCost > bondCapacity[i]) { offer[i] = Number.MAX_VALUE; }
                else {
                    var profitRatio = (Math.random() + firmList[i]["OHRatio"] + firmList[i]["bondCostRatio"]) * (bondCapacity[i]) / firmList[i]["bondCapacity"];
                    offer[i] = directCost * (1 + profitRatio);
                }
            }
        }

        currentBid = []
        for (var i = 0; i < firmList.length; i++)
        {
            currentBid.push({ "firm id": i, "offer": offer[i] });
        }

        var minIndex = offer.indexOf(Math.min.apply(Math, offer));
        currentProject["ownerIndex"] = minIndex;
        var message = "";
        if (minIndex == userFirm) {
            currentProject["isCurrentUserOwned"] = true;
        } else {
            currentProject["isCurrentUserOwned"] = false;
        }

        // update the progress information
        var resultList = []
        for (var i = 0; i < 4; i++) {
            if (i == minIndex) {
                resultList.push("<span class='glyphicon glyphicon-ok'></span>");
            } else {
                resultList.push("");
            }
        }

        // push to firm project list
        firmList[minIndex]["projects"].push($.extend({}, currentProject));

        result[count] = resultList;

        // give them money
        money[minIndex] += offer[minIndex];

        // update the bond capacity
        bondCapacity[minIndex] -= directCost * firmList[minIndex]["bondCostRatio"];
        
        // update the count
        count++;

        processProjects(); // need to update the UI after the changes money

        updateUI();


    }

    function randomEvent(firmIndex, project) {
        var factor = 0;
        var events = [
    {
        "name": "Got delayed",
        "base chance": 0.5,
        "effect": -0.1
    },
    {
        "name": "Materials got stolen",
        "base chance": 0.5,
        "effect": -0.05
    },
    {
        "name": "Cheap material used",
        "base chance": 0.5,
        "effect": 0.2
    }
        ]


        if (project["owner"]["type"] === "A") {
            factor = 1;
        } else if (project["owner"]["type"] === "B") {
            factor = 2;
        } else if (project["owner"]["type"] === "C") {
            factor = 3;
        } else if (project["owner"]["type"] === "D") {
            factor = 4;
        }

        var event = $.extend({}, events[Math.floor(Math.random() * events.length)]);
        if (Math.random() < event["base chance"] * factor) {
            //money[firmIndex] -= event["effect"] * project["cost"];
            //if (firmIndex == userFirm) {
            //    // oops, you got the event
            //    bootbox.dialog({
            //        message: "When conducting project " + project["number"] + ", your company just got an unexpected event: " + event["name"] + "</br>Your company lost/gained " + (event["effect"] * project["cost"]).toFixed(0),
            //        title: "Unexpected event...",
            //        main: {
            //            label: "Okay",
            //            className: "btn-primary",
            //        }
            //    });
            //}

            event["message"] = event.name + ". Your company just gained/lost " + (event["effect"] * project["cost"]).toFixed(0);
            event["totalCost"] += event["effect"] * project["cost"];
            project["cost"] += event["effect"] * project["cost"];
            // clear event list
            while (project.events.length > 0) {
                project.events.pop();
            }
            project.events.push($.extend({}, event));
        }
    }


    function getProgressReport() {
        var message = "<h4>Bidding Offering</h4>\
                        <table class='table'>\
                            <thead>\
                                <tr>\
                                    <th>Firm 1</th>\
                                    <th>Firm 2</th>\
                                    <th>Firm 3</th>\
                                    <th>Firm 4</th>\
                                </tr>\
                            </thead>\
                            <tbody><tr>";
        $.each(offer, function (i) {
            message += "<td>" + offer[i].toFixed(0) + "</td>";
        });

        message += "</td></tr></tbody></table><hr>";

        message += "<h4>Bidding result Report</h4>";

        if (currentProject["isCurrentUserOwned"]) {
            message += "<p>You got the project</p><hr>";
        } else {
            message += "<p>You didn't get the project</p><hr>";
        }

        if ($('#showProgress')[0].checked) {

 
            message += "<h4>Quarter Progress Report</h4>\
                        <table class='table'>\
                            <thead>\
                                <tr>\
                                    <th>Project #</th>\
                                    <th>Project Period Length</th>\
                                    <th>Project Period Left</th>\
                                    <th>Quarter Direct Cost</th>\
                                    <th>Total Direct Cost</th>\
                                    <th>Current Status</th>\
                                </tr>\
                            </thead>\
                            <tbody>";
            $.each(firmList[userFirm]["projects"], function (i, project) {
                message += "<tr><td>" + project["number"] + "</td>";
                message += "<td>" + project["totalLength"] + "</td>";
                message += "<td>" + project["length"] + "</td>";
                message += "<td>" + project["cost"].toFixed(0) + "</td>";
                message += "<td>" + project["totalCost"].toFixed(0) + "</td><td>";
                if (project["events"].length > 0) {
                    $.each(project["events"], function (j, event) {
                        message += "<p>" + event["message"] + "</p>";
                    })
                }
                else {
                    message += "<p>Good</p>";
                }

            })
            message += "</td></tr></tbody></table>";
        }
        bootbox.dialog({
            message: message,
            title: "Bidding Status",
            main: {
                label: "Okay",
                className: "btn-primary"
            }
        });

    }

    function processProjects() {
        $.each(firmList, function (i) {
            if (firmList[i]["projects"].length > 0) {
                $.each(firmList[i]["projects"], function (j, project) {
                    if (project["length"] > 0) {
                        randomEvent(i, project);
                    }
                })


            }
        })

        purageProejcts();

        getProgressReport();
    }

    function createOwner() {
        var typeArray = ["A", "B", "C", "D"]
        return { "name": faker.Name.findName(), "email": faker.Internet.email(), "ui": faker.Image.avatar(), "type": typeArray[Math.floor(Math.random() * typeArray.length)], "company": faker.Company.companyName() };
    }

    function createProject() {
        var cost = Math.floor((100 + Math.random() * 20000 + Math.random() * 1000000));
        var length = Math.floor( 2 + Math.random() * 3);
        var owner = createOwner();
        var result = { "cost": cost / length, "length": length, "owner": owner, "number": count, "events": [], "isCurrentUserOwned": false, "totalLength": length, "totalCost": cost, "ownerIndex": -1 };
        return result;
    }

    function purageProejcts() {
        $.each(firmList, function (i) {
            if (firmList[i]["projects"].length > 0) {
                var popList = []
                $.each(firmList[i]["projects"], function (j, project) {
                    // I need some money
                    money[project["ownerIndex"]] -= project["cost"];
                    if (project["length"] > 0) {
                        project["length"] -= 1;
                    } else {
                        // okay need to deduct the money                        
                        popList.push(j)
                    }
                })

                $.each(popList, function (j, index) {
                    firmList[i]["projects"].splice(index, 1);
                })
            }
        })
    }

    function showrWinner() {
        var minIndex = money.indexOf(Math.max.apply(Math, money));
        if (minIndex == userFirm) {
            alert("You won the game, but it's only a simulation with dumb computers. Try the real time simulation with people the next time");
        }
        else {
            alert("Well, how can you lose the game with computers?");
        }
    }

    $(function () {

        // get firm change
        $.getJSON("/data?arg=firmChance", function (data) {
            firmChance = data;
        });

        $.each(firmList, function (i, firm) {
            bondCapacity.push(firm.bondCapacity);
            money.push(0);
        });


        // randomly choose a firm
        userFirm = Math.floor((Math.random() * 4));
        bootbox.dialog({
            message: "You are now firm " + (userFirm + 1).toString(),
            title: "Hello",
            main: {
                label: "Okay",
                className: "btn-primary"
            }
        });


        // update the status
        update();

        // hook up the profit form
        $('#inputProfit').change(function () {
            updateTotalCost();
        });

        $('#inputProfit').keyup(function (e) {
            updateTotalCost();
        });



        // check function
        $('#check').click(function () {
            if (shouldUpdate) {

                shouldUpdate = false;
            }
        });

        // start bid function
        $('#bid').click(function () {
            if (count < maxBid) {
                startBid();
            }
            else {
                showrWinner();
            }
        })

    })



</script>
{% endblock%}

{% block content %}
<div>
    <div class="well clearfix">
        <div>
            <div class="progress">
                <div class="progress-bar" id="bidding-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                    <span class="sr-only" id="progressbar-span">0% Complete</span>
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-current-bid-lg" id="check">Current Bid</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-historical-bid-lg" id="check">Historical Bid</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-active-projects-lg" id="check">Active Projects</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-income-statement-lg" id="check">Your Income Statement</button>
                </div>
            </div>
            <div class="modal fade bs-current-bid-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Bidding Owner Information</h4>
                        <div class="media block-update-card">
                            <a class="pull-left" href="#">
                                <img class="media-object" id="fake_image" src="https://www.google.com/images/srpr/logo11w.png" style="width:160px; height:160px">
                            </a>
                            <h4>Information</h4>
                            <div class="media-body">
                                <p id="owner-name">Name: Keyi Zhang</p>
                                <p id="owner-email">Email: kz005@bucknell.edu</p>
                                <p id="owner-company">Company: iGeekStudio.com</p>
                                <p id="owner-Type">Owner Type: A</p>
                            </div>
                        </div>
                        <hr />
                        <h4>Bidding Information</h4>
                        <p id="info-cost"></p>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-historical-bid-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Bidding Results</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="bid-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-active-projects-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Current Projects</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="current-project-table-body"></tbody>
                        </table>
                        <hr />
                        <h4>Bond Status</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="bond-table-body"></tbody>
                        </table>
                        <hr />
                        <h4>Money Status</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="money-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-income-statement-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="align-content:center">
                    <h4>Income Statement</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Max Work (Bond Capacity)</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="invitation" class="col-sm-2 control-label">Invitation: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="invitation" placeholder="You shouldn't see this'" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="directCost" class="col-sm-2 control-label">Direct Cost: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="directCost" placeholder="You shouldn't see this'" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="bondCost" class="col-sm-2 control-label">Bond Cost: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="bondCost" placeholder="You shouldn't see this" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="ohCost" class="col-sm-2 control-label">G&A OH</label>
                <div class="col-sm-8">
                    <input class="form-control" id="ohCost" placeholder="You shouldn't see this" disabled />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="inputProfit" class="col-sm-2 control-label">Profit Percentage (%): </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="inputProfit" value="10">
                </div>
                <hr />
                <label for="totalCost" class="col-sm-2 control-label">Total Cost: </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="totalCost" value="10" disabled>
                </div>

            </div>
            <div class="col-sm-10">
                <div class="col-sm-2"></div>
                <input type="checkbox" id="showProgress"> Show quarter progress report</>
                <button id="bid" type="button" class="btn btn-default pull-right">Start to bid</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
