<!{% extends "base.html" %}
{% block javascript%}
<script src="../static/js/bootbox.min.js"></script>
<script src="../static/js/fake.min.js"></script>
<script src="../static/js/offlineSimulation.js"></script>
{% endblock%}

{% block content %}
<div>
    <div class="well clearfix">
        <div>
            <div class="progress">
                <div class="progress-bar" id="bidding-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                    <span class="sr-only" id="progressbar-span">0% Complete</span>
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-current-bid-lg" id="check">Current Bid</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-historical-bid-lg" id="check">Historical Bid</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-active-projects-lg" id="check">Active Projects</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-income-statement-lg" id="check">Your Income Statement</button>
                </div>
            </div>
            <div class="modal fade bs-current-bid-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Bidding Owner Information</h4>
                        <div class="media block-update-card">
                            <a class="pull-left" href="#">
                                <img class="media-object" id="fake_image" src="https://www.google.com/images/srpr/logo11w.png" style="width:160px; height:160px">
                            </a>
                            <h4>Information</h4>
                            <div class="media-body">
                                <p id="owner-name">Name: Keyi Zhang</p>
                                <p id="owner-email">Email: kz005@bucknell.edu</p>
                                <p id="owner-company">Company: iGeekStudio.com</p>
                                <p id="owner-Type">Owner Type: A</p>
                            </div>
                        </div>
                        <hr />
                        <h4>Bidding Information</h4>
                        <p id="info-cost"></p>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-historical-bid-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Bidding Results</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Total Cost</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="bid-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-active-projects-lg" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h4>Current Projects</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="current-project-table-body"></tbody>
                        </table>
                        <hr />
                        <h4>Bond Status</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="bond-table-body"></tbody>
                        </table>
                        <hr />
                        <h4>Money Status</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Firm 1</th>
                                    <th>Firm 2</th>
                                    <th>Firm 3</th>
                                    <th>Firm 4</th>
                                </tr>
                            </thead>
                            <tbody id="money-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-income-statement-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="align-content:center">
                    <h4>Income Statement</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Max Work (Bond Capacity)</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="invitation" class="col-sm-2 control-label">Invitation: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="invitation" placeholder="You shouldn't see this'" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="directCost" class="col-sm-2 control-label">Direct Cost: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="directCost" placeholder="You shouldn't see this'" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="bondCost" class="col-sm-2 control-label">Bond Cost: </label>
                <div class="col-sm-8">
                    <input class="form-control" id="bondCost" placeholder="You shouldn't see this" disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="ohCost" class="col-sm-2 control-label">G&A OH</label>
                <div class="col-sm-8">
                    <input class="form-control" id="ohCost" placeholder="You shouldn't see this" disabled />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="inputProfit" class="col-sm-2 control-label">Profit Percentage (%): </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="inputProfit" value="10">
                </div>
                <hr />
                <label for="totalCost" class="col-sm-2 control-label">Total Cost: </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="totalCost" value="10" disabled>
                </div>

            </div>
            <div class="col-sm-10">
                <div class="col-sm-2"></div>
                <input type="checkbox" id="showProgress"> Show quarter progress report</>
                <button id="bid" type="button" class="btn btn-default pull-right">Submit bid</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
